.main-container {
 margin: 3em;
 width: 100%;
}

.workload-container{
  display: flex;
  justify-content: center;
  
}

.cloudwork-heading {
  color: rgb(149, 74, 202);
  margin-left: 11em;
}
.horizontal-line {
  height: 0.1em;
  width: 70%;
  background-color: rgb(149, 74, 202);
}
.workload-heading{
  color: rgb(149, 74, 202);
  margin-left: 15em;
}
.workloadItem-container{
  margin-right: 4em;
 
width:40em;
}